<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to Stock Information
  </h1>
 
  <form (submit)="getPrice()" #formData='ngForm'>
    <input type="text" placeholder = "Stock Ticker Symbol" name="symbol" required minlength="3" [(ngModel)]="stock.symbol" pattern="^(.{3,})$" #titleModel="ngModel"> 
    <input type="submit"  [disabled]="!formData.valid" value="Get Information">
</form>


  <table>
    <tr>
      <th>Stock Ticker Symbol</th>
      <th>Today's Open Price</th>
      <th>Compare to Previous Day</th>
      <th>Previous Day's Close Price</th>
      <th>Volume</th>
      <th>Divident Amount</th>
      <th>Today's Close Price</th>
    </tr>
    <tr *ngFor="let stock of stocks">
        <td>{{stock.name}}</td>
        <td>{{stock.price}}</td>
        <ng-container *ngIf="stock.priceCompare>=0">
        <td id = "green">+{{stock.priceCompare}}</td>
      </ng-container>
      <ng-container *ngIf="stock.priceCompare<0">
          <td id = "red"> {{stock.priceCompare}}</td>
        </ng-container>
        <td>{{stock.priceYesterday}}</td>
        <td>{{stock.volume}}</td>
        <td>{{stock.divident}}</td>
        <td>{{stock.closePrice}}</td>
    </tr>
  </table>

